<div class="airport-counts">
    <h2>RESULTS FROM OPENSKY NETWORK API</h2>
    <table>
        <thead>
            <tr>
                <th>AIRPORT</th>
                <th>TIME</th>
                <th>ARRIVING</th>
                <th>DEPARTING</th>
            </tr>
        </thead>
        <tbody>
            <!-- Map through the list of airport codes and display the corresponding counts -->
            <tr *ngFor="let airportCode of Object.keys(airportCounts.departure || {})" [key]="airportCode">
                <td>{{ airportCode }}</td>
                <td>{{ airportCounts.currentTime[airportCode] || 0 }}</td>
                <td>{{ airportCounts.arrival[airportCode] || 0 }}</td>
                <td>{{ airportCounts.departure[airportCode] || 0 }}</td>
            </tr>
        </tbody>
    </table>
    <!-- Render pagination component -->
    <!--<app-pagination [itemsPerPage]="itemsPerPage" [totalItems]="Object.keys(airportCounts.departure || {}).length"
        [currentPage]="currentPage" (setCurrentPage)="setCurrentPage($event)"></app-pagination>-->
</div>