<div class="airport-counts">
    <h2>RESULTS GOTTEN FROM OPEN SKY API, MADE WITH ANGULAR</h2>
    <table>
        <thead>
            <tr>
                <th>Airport Code</th>
                <th>Time (CST)</th>
                <th>Arriving</th>
                <th>Departing</th>
                
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let airport of airportCounts.departure | keyvalue | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{ airport.key }}</td>
                <td>{{ airportCounts.currentTime[airport.key] }}</td>
                <td>{{ airportCounts.arrival[airport.key] || 0 }}</td>
                <td>{{ airport.value }}</td>
                
            </tr>
        </tbody>
    </table>
    <div class="pagination-container">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="pagination-info">

    </div>

    
</div>